<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <h4>My Taco</h4>
    <nav>
        <button onclick="window.location.href = '/sessions/new'" class="login">Log In</button>
        <button onclick="window.location.href = '/users/new'" class="signUp">Create Account</button>
        <button onclick="window.location.href = '/sessions/users'" class="admin">Admin</button>
    </nav>
  </body>
</html>
