<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <h2>My Taco!</h2>
  <nav id="navbar">
    <%if(username){%>
      <button onclick="window.location.href = '/sessions/logout'" class="logout">Logout</button>
      <button onclick="window.location.href = '/taco/my_tacos'" class="userCp">My Taco's</button>
      <button onclick="window.location.href = '/taco'" class="index">MOAR Tacos!</button>
      <%}else{%>
        <button onclick="window.location.href = '/sessions/new'" class="login">Login</button>
        <button onclick="window.location.href = '/users/new'" class="login">Create Account</button>
        <%}%>
        <button onclick="window.location.href = '/taco/new_taco'" class="newTaco">Make New Taco</button>
        <%if(username === "zdonner"){%>
          <button onclick="window.location.href = '/sessions/users'" class="admin">Admin</button>
          <%}%>
        </nav>
      </body>
      </html>
