* {
  font-family: 'Pacifico', cursive;
}

body {
  background: #F1E8B8;
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: lighter;
  color: tomato;
  font-size: 140px;
  text-shadow: 7px 3px 9px rgba(255,99,71,0.39);
  margin-bottom: 25px;
}

h2 {
  font-style: italic;
  font-weight: lighter;
  color: tomato;
  font-size: 80px;
  text-shadow: 7px 3px 9px rgba(255,99,71,0.39);
  margin-bottom: 25px;
}

h4 {
  color: tomato;
  text-shadow: 7px 3px 9px rgba(255,99,71,0.39);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(86,66,86,0.9);
  color: #F9E784;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 20px 0;
  transition-duration: 0.4s;
}

ul {
  list-style-type: none;
}

label, input[type=submit] {
  background-color: tomato;
  color: #F9E784;
  border-radius: 40px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

input[type=submit] {
  font-size: 15px;
}

input[type=text], input[type=password] {
  border: 2px solid tomato;
  border-radius: 6px;
  color: #191919;
  box-sizing: border-box;
  font-size: 18px;
  margin: 2px;
  width: 230px;
  text-align: left;
}

input[type=text]:focus, input[type=password]:focus {
  border: 4px solid tomato;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user {
  margin: 20px 12px 20px 12px;
  height: 300px;
  width: 500px;
  border: 10px double rgba(255,99,71,0.48);
  border-radius: 20px 40px 20px 40px;
  background: #F9E784 url('img/taco-cute-cartoon.png') no-repeat scroll -10px -10px;
  background-size: 25%;
  box-shadow: 10px 3px 17px 9px rgba(0,0,0,0.37);
}

.tacoNew {
  margin: 20px 12px 20px 12px;
  height: 350px;
  width: 583px;
  border: 10px double rgba(255,99,71,0.48);
  border-radius: 20px 40px 20px 40px;
  background: #F9E784 url('img/taco-cute-cartoon.png') no-repeat scroll -10px -10px;
  background-size: 25%;
  box-shadow: 10px 3px 17px 9px rgba(0,0,0,0.37);
}

.tacoEdit {
  margin: 20px 12px 20px 12px;
  height: 300px;
  width: 500px;
  border: 10px double rgba(255,99,71,0.48);
  border-radius: 20px 40px 20px 40px;
  background: #F9E784 url('img/taco-cute-cartoon.png') no-repeat scroll -10px -10px;
  background-size: 25%;
  box-shadow: 10px 3px 17px 9px rgba(0,0,0,0.37);
}

.user > form {
  margin-top: 8%;
  font-size: 18px;
}

.tacoNew > h4 {
  margin-bottom: 2px;
}

.tacoEdit > form {
  margin-top: 5%;
  font-size: 18px;
}

.taco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 12px 20px 12px;
  height: 300px;
  width: 500px;
  border: 10px double rgba(255,99,71,0.48);
  border-radius: 20px 40px 20px 40px;
  background: #F9E784 url('img/taco-cute-cartoon.png') no-repeat scroll -10px -10px;
  background-size: 25%;
  box-shadow: 10px 3px 17px 9px rgba(0,0,0,0.37);
}

.tacoDescCont {
  margin: 12% 0 5% 0;
  /* align-content: stretch; */
  /* font-size: 20px; */
}

.tacoDesc{
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  margin: 5% 3% 5% 3%;
}

.tacoSpan {
  font-family: 'Indie Flower', cursive;
  font-size: 17px;
}

.tacoNav {
  /* margin: 25% 20% 5% 20%; */
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.tacoNav button {
  margin: auto 0;
}
.tacoDel input {
  margin: 5px auto;
}

button:hover {
  background-color: rgba(86,66,86,1);
  /* color: tomato; */
}

#navbar {
  overflow: hidden;
  background-color: #F1E8B8;
  text-align: center;
}

#navbar button {
  float: none;
  display: inline-flex;
  justify-content: center;
  padding: 14px;
  text-decoration: none;
  width: 15%;
}

/* .sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
} */

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 20px;
  }
  #navbar button {
    white-space: nowrap;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    margin: auto;
  }
}
