<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <%if(username){%>
    <h1><%=username%>'s Taco Page</h1>
    <%}%>
    <nav id="navbar">
      <%if(username){%>
        <button onclick="window.location.href = '/sessions/logout'" class="logout">Logout</button>
        <%}else{%>
          <button onclick="window.location.href = '/sessions/new'" class="login">Login</button>
          <%}%>
          <button onclick="window.location.href = '/taco/new_taco'" class="newTaco">New Taco</button>
          <button onclick="window.location.href = '/'" class="home">Main</button>
        </nav>
      </body>
      </html>
